body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 968px;
  margin-right: auto;
  margin-left: auto;
}

/* MAIN */
#main {
  margin-top: 2%;
  text-align: center;
  max-width: 75vw;
  margin-right: auto;
  margin-left: auto;
}

/* DROPMENU */
#dropmenu {
  margin-bottom: 2%;
}

/* ADDWORDS */
#add {
  margin-top: 2%;
  max-width: 75vw;
  margin-right: auto;
  margin-left: auto;
}

/* NAVIGATION */
#navbar {
  background-color: black;
  max-width: 100vw;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  position: sticky;
}

#navbrand {
  color: whitesmoke;
}

#nav {
  width: 75vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

#button {
  border: rgb(224, 248, 6) 1px solid;
  color: whitesmoke;
  margin-left: 15px;
}

#basic-navbar {
  color: whitesmoke;
}

/* MYTABLE */
#check-btn {
  text-align: right;
}

#check {
  color: green;
  margin-left: 5px;
  margin-top: 10px;
}

#cross {
  color: red;
  margin-left: 5px;
  margin-top: 10px;
}
